@import url(https://fonts.googleapis.com/css?family=Squada+One);

html {
	height: 100%;
	width: 100%;
	margin: 0;
	/*margin-top: 0;*/
	/*background-color: #008AA0;*/

}

body {
	background-color: #ABDDC6;
	margin: 0;
	height: 100%;
	position: relative;
}

div#navbar {
	background-color: #5B6A63;
	height: 60px;
	width: 100%;
	

}

#outer {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

li {
	list-style-type: none;
	text-transform: uppercase;
	margin: 10px;
	margin-top: 0;
	line-height: 60px;
	font-family: 'Squada One', cursive;
	color: #E6F5EE;
	font-size: 18px;
	letter-spacing: 1px;
	transform : scale(1,1.5);
	-webkit-transform:scale(1,1.5); 
	-moz-transform:scale(1,1.5); 
}

li:hover {
	color: #acb9b3;
	cursor: pointer;
}

ul {
	margin: 0;
}
p {
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
	position: fixed;

}

p img {
	height: 340px;
	width: 540px;
	margin-top: 130px; /* transition: TO GET IT VERTICALLY CENTERED HEIGHT/2 FOR THE MARGIN-TOP*/

}

#footer {
	height: 70px;
	width: 100%;
	background-color: transparent;
	bottom: 0;
	left: 0;
	position: absolute;


}

p img#whitearrow {
	height: 47px;
	width: 28px;
	margin: 0;
	opacity: 0.2;
	padding: 12px;



}


#footer:hover p img#whitearrow {
	opacity: 1;
	content:url(http://www.katieplusluke.com/images/next.png);
}

#footer:hover {
	background-color: rgba(91, 106, 99, 0.5);
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
	cursor: pointer;
}








/*div#seafoamdiv {
	background-color: #ABDDC6;
	width: 100%;
	height: 25%;

}*/