@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background-color: #008AA0;
	margin: 0;
	height: 100%;
	position: relative;
}

div#home {
	background-color: #ABDDC6;
	height: 100%;
	width: 100%;

}

div#navbar {
	background-color: #5B6A63;
	height: 60px;
	width: 100%;
	

}

#outer {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

li {
	list-style-type: none;
	text-transform: uppercase;
	margin: 10px;
	margin-top: 0;
	line-height: 60px;
	font-family: 'Squada One', cursive;
	color: #E6F5EE;
	font-size: 18px;
	letter-spacing: 1px;
	transform : scale(1,1.5);
	-webkit-transform:scale(1,1.5); 
	-moz-transform:scale(1,1.5); 
}

li:hover {
	color: #acb9b3;
	cursor: pointer;
}

ul {
	margin: 0;
}
p {
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

p img#homeimg {
	height: 340px;
	width: 540px;
	margin-top: 130px; /* transition: TO GET IT VERTICALLY CENTERED HEIGHT/2 FOR THE MARGIN-TOP*/
}

#footer {
	height: 70px;
	width: 100%;
	background-color: transparent;
	bottom: 0;
	left: 0;
	position: absolute;


}

p img#whitearrow {
	height: 47px;
	width: 28px;
	margin: 0;
	opacity: 0.2;
	padding: 12px;
	/*position: fixed;*/

}


#footer:hover p img#whitearrow {
	opacity: 1;
	content:url(http://www.katieplusluke.com/images/next.png);

}

#home #footer:hover {
	background-color: rgba(91, 106, 99, 0.5);
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
	cursor: pointer;
	/*position: fixed;*/
}

div#pictures {
	background-color: white;
	height: 100%;
	width: 100%;
}

#pictures p img#picturesimg {
	margin-top: 200px;
	height: 75px;
	width: 320px;
}

h2#gallery-title {
	text-align: center;
	font-family: 'Pacifico', 'PacificoRegular', cursive;
	color: #A9A9A9;
	font-size: 35px;
	margin-top: 0;
	font-weight: bolder;
}

div#gallery {
	align-content:flex-start;
	text-align: center;
}

#gallery span.picturespans {
	display: inline-block;
	height: 51px;
	width: 51px;
	background-color: #A9A9A9;
	margin: 4px;
}

.picturespans:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-01.jpg");
	height: 51px;
	width: 51px;

}







