@import url(https://fonts.googleapis.com/css?family=Squada+One);

html {
	height: 100%;
	width: 100%;
	margin: 0;
	/*margin-top: 0;*/
	/*background-color: #008AA0;*/

}

body {
	background-color: #ABDDC6;
	margin: 0;
	height: 100%;
}

div#navbar {
	background-color: #5B6A63;
	height: 60px;
	width: 100%;
	

}

#outer {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

li {
	list-style-type: none;
	text-transform: uppercase;
	margin: 10px;
	margin-top: 0;
	line-height: 60px;
	font-family: 'Squada One', cursive;
	color: #E6F5EE;
	font-size: 18px;
	letter-spacing: 1px;
	transform : scale(1,1.5);
	-webkit-transform:scale(1,1.5); 
	-moz-transform:scale(1,1.5); 
}

li:hover {
	color: #acb9b3;
	cursor: pointer;
}

ul {
	margin: 0;
}
p {
	text-align: center;
}

p img {
	height: 340px;
	width: 540px;
	margin-top: 130px; /* transition: TO GET IT VERTICALLY CENTERED HEIGHT/2 FOR THE MARGIN-TOP*/
}

div#footer {
	height: 70px;
	width: 100%;
	background-color: pink;
	/*position: absolute;*/
	/*margin: 0;*/
	/*position: relative;*/
	position: relative;


}

p img#whitearrow {
	height: 47px;
	width: 28px;
	margin: 0;
	padding: 10px;
}

/*div#seafoamdiv {
	background-color: #ABDDC6;
	width: 100%;
	height: 25%;

}*/