.picturespans#pic1:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-01.jpg");
	height: 51px;
	width: 51px;
	/*opacity: 0.5;*/
	


}

.picturespans#pic2:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-02.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic3:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-03.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic4:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-04.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic5:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-05.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic6:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-06.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic7:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-07.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic8:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-08.jpg");
	height: 51px;
	width: 51px;

}

.picturespans#pic9:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-09.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic10:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-10.jpg");
	height: 51px;
	width: 51px;
}
.picturespans#pic11:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-11.jpg");
	height: 51px;
	width: 51px;
}
.picturespans#pic12:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-12.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic13:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-13.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic14:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-14.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic15:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-15.jpg");
	height: 51px;
	width: 51px;
}
 
.picturespans#pic16:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-16.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic17:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-17.jpg");
	height: 51px;
	width: 51px;
}

.picturespans#pic18:hover {
	content: url("http://www.katieplusluke.com/images/gallery/ss-18.jpg");
	height: 51px;
	width: 51px;
}